[submodule "layers/XIV"]
	path = layers/XIV
	url = https://github.com/petronushowcore-mx/NC2.5-ONTOSigma-XIV-Cross-Layer-Forgetful-Separation-corpus.git
[submodule "layers/XV"]
	path = layers/XV
	url = https://github.com/petronushowcore-mx/NC2.5-ONTOSigma-XV-Spin-Channel-and-Nestability-corpus.git
[submodule "layers/Identity"]
	path = layers/Identity
	url = https://github.com/petronushowcore-mx/Identity-Does-Not-Drift.git
[submodule "layers/PoA"]
	path = layers/PoA
	url = https://github.com/petronushowcore-mx/physics-of-abstraction.git
[submodule "layers/Person"]
	path = layers/Person
	url = https://github.com/petronushowcore-mx/NC25-Person-Is-Not-a-Sum.git
[submodule "layers/DoubleFibre"]
	path = layers/DoubleFibre
	url = https://github.com/petronushowcore-mx/The-Double-Fibre-of-Verification.git
